body{
	background-image:url('https://st2.depositphotos.com/3649705/5390/v/600/depositphotos_53907791-stock-illustration-wave-line-flag-of-ukraine.jpg');
	max-width:950px;
	margin:0 auto;
}

div{
	
	padding:5px 15px;
}
h4{
	text-align:center;
	background-color:#ffebcc;
}
.header{
	border-radius:10px 10px 0 0;
	margin-top:20px;
	background-color:#ffebcc;
    min-height:20px;
	line-height:20px;
	text-align:center;
	margin-bottom:10px;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.86);
box-shadow:	0 0 10px rgba(0, 0, 0, 0.86);

}

.sidebar2{
	background:#cce6ff;
	float:center;
	float:top;
	margin-left:10px;
	max-width:3000px;
}
.container{
	text-align:justify;
	background: #e6fff2;
	margin-bottom:10px;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.86);
	box-shadow:	0 0 10px rgba(0, 0, 0, 0.86);
	
}
.footer{
	font-weight:bold;
	color: #ffb3d9;
	background:#fff2cc;
	min-height:30px;
	line-height:10px;
	border-radius:10px 10px 0 0;
	box-shadow:	0 0 10px rgba(0, 0, 0, 0.86);
}
nav ul{
	flex-direction:column;
	max-width:35px;
	margin-left:12px;
}
nav li{
	font-size:16px;
	display:inline;
	float:left;
margin-right:17px
}
nav a {
	color:#dc3545;
}
img{
	width:4000px;
	transform:scale(1);
	transition:.3s;
	max-width:60%;
	float:right;
	}
.center{
	float:center;
}
.right{
	float:left;
	width:400px;
}
img:hover{
	transform:rotate(40deg);
	transition-duration: 3s;
	transform:scale(2);
}
.multimedia{
	overflow: auto;
	float:center;
	padding-left:5px;
	padding-right: 5px;
	width: 60.6%;
	
}
